.FiveDayForecast {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .Forecast {
    text-align: center;
  }
  
  .Forecast img {
    width: 80px;
    height: 80px;
  }
  