.Searchbar {
    margin: 20px;
  }
  
  .Searchbar input {
    padding: 10px;
    font-size: 16px;
  }
  
  .Searchbar button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  